vaadin-scroller[slot="drawer"] {
  padding: var(--lumo-space-s);
}

[slot="drawer"]:is(header, footer) {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  gap: var(--lumo-space-s);
  min-height: var(--lumo-size-xl);
  padding: var(--lumo-space-s) var(--lumo-space-m);
}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;
}
