[slot='drawer'] nav a {
  text-decoration: none;
  transition: color 140ms;
}

[slot='drawer'] nav a::before {
  border-radius: var(--lumo-border-radius);
  content: '';
  inset: calc(var(--lumo-space-xs) * 0.5) 0;
  position: absolute;
  transition: background-color 140ms;
}

[slot='drawer'] nav a[highlight] {
  color: var(--lumo-primary-text-color);
}

[slot='drawer'] nav a[highlight]::before {
  background-color: var(--lumo-primary-color-10pct);
}

.menu-item-link {
  align-items: center;
  color: var(--lumo-secondary-text-color);
  display: flex;
  gap: var(--lumo-space-s);
  margin: 0 var(--lumo-space-s);
  padding: var(--lumo-space-s);
  position: relative;
}

.menu-item-text {
  font-size: var(--lumo-font-size-s);
  font-weight: 500;
}

.view-title {
  font-size: var(--lumo-font-size-l);
  margin: 0;
}

.view-header {
  align-items: center;
  background-color: var(--lumo-base-color);
  border-bottom: 1px solid var(--lumo-contrast-10pct);
  box-sizing: border-box;
  display: flex;
  height: var(--lumo-size-xl);
  width: 100%;
}

.view-toggle {
  color: var(--lumo-secondary-text-color);
}

.app-name {
  align-items: center;
  display: flex;
  font-size: var(--lumo-font-size-m);
  height: var(--lumo-size-xl);
  margin: 0;
  padding: 0 var(--lumo-space-m);
}

.drawer-section {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-height: 100%;
}

.menu-item-container {
  border-bottom: 1px solid var(--lumo-contrast-10pct);
  flex-grow: 1;
  overflow: auto;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
