.highlights[theme~="dividers"] {
    gap: 1px;
}

.highlights[theme~="dividers"] > *::after {
    border: 1px solid var(--lumo-contrast-10pct);
    content: "";
    inset: -1px;
    pointer-events: none;
    position: absolute;
    z-index: -1;
}
