/* Theme: outline */

:is(
  vaadin-combo-box,
  vaadin-date-picker,
  vaadin-date-time-picker,
  vaadin-email-field,
  vaadin-integer-field,
  vaadin-multi-select-combo-box,
  vaadin-number-field,
  vaadin-password-field,
  vaadin-select,
  vaadin-text-area,
  vaadin-text-field,
  vaadin-time-picker
)[theme~='outline'] {
    --vaadin-input-field-background: var(--lumo-base-color);
    --vaadin-input-field-border-color: var(--lumo-utility-border-color, var(--lumo-contrast-50pct));
    --vaadin-input-field-border-width: 1px;
}

:is(
  vaadin-combo-box,
  vaadin-date-picker,
  vaadin-date-time-picker,
  vaadin-email-field,
  vaadin-integer-field,
  vaadin-multi-select-combo-box,
  vaadin-number-field,
  vaadin-password-field,
  vaadin-select,
  vaadin-text-area,
  vaadin-text-field,
  vaadin-time-picker
)[theme~='outline'][disabled] {
    --vaadin-input-field-border-color: var(--lumo-contrast-10pct);
}

:is(
  vaadin-combo-box,
  vaadin-date-picker,
  vaadin-date-time-picker,
  vaadin-email-field,
  vaadin-integer-field,
  vaadin-multi-select-combo-box,
  vaadin-number-field,
  vaadin-password-field,
  vaadin-select,
  vaadin-text-area,
  vaadin-text-field,
  vaadin-time-picker
)[theme~='outline'][invalid] {
    --vaadin-input-field-border-color: var(--lumo-error-color-50pct);
}

:is(
  vaadin-combo-box,
  vaadin-date-picker,
  vaadin-date-time-picker,
  vaadin-email-field,
  vaadin-integer-field,
  vaadin-multi-select-combo-box,
  vaadin-number-field,
  vaadin-password-field,
  vaadin-select,
  vaadin-text-area,
  vaadin-text-field,
  vaadin-time-picker
)[theme~='outline'][readonly] {
    --vaadin-input-field-border-color: transparent;
    --vaadin-input-field-border-width: 0;
}

:is(
  vaadin-combo-box,
  vaadin-date-picker,
  vaadin-date-time-picker,
  vaadin-email-field,
  vaadin-integer-field,
  vaadin-multi-select-combo-box,
  vaadin-number-field,
  vaadin-password-field,
  vaadin-select,
  vaadin-text-area,
  vaadin-text-field,
  vaadin-time-picker
)[theme~='outline'][focus-ring] {
    --vaadin-input-field-border-color: var(--lumo-primary-color);
}

:is(
  vaadin-combo-box,
  vaadin-date-picker,
  vaadin-date-time-picker,
  vaadin-email-field,
  vaadin-integer-field,
  vaadin-multi-select-combo-box,
  vaadin-number-field,
  vaadin-password-field,
  vaadin-select,
  vaadin-text-area,
  vaadin-text-field,
  vaadin-time-picker
)[theme~='outline'][focus-ring]::part(input-field) {
    box-shadow: 0 0 0 2px var(--lumo-primary-color-50pct), inset 0 0 0 var(--vaadin-input-field-border-width, 0) var(--vaadin-input-field-border-color);
}

:is(
  vaadin-combo-box,
  vaadin-date-picker,
  vaadin-date-time-picker,
  vaadin-email-field,
  vaadin-integer-field,
  vaadin-multi-select-combo-box,
  vaadin-number-field,
  vaadin-password-field,
  vaadin-select,
  vaadin-text-area,
  vaadin-text-field,
  vaadin-time-picker
)[theme~='outline'][focus-ring][invalid] {
    --vaadin-input-field-border-color: var(--lumo-error-color);
}

:is(
  vaadin-combo-box,
  vaadin-date-picker,
  vaadin-date-time-picker,
  vaadin-email-field,
  vaadin-integer-field,
  vaadin-multi-select-combo-box,
  vaadin-number-field,
  vaadin-password-field,
  vaadin-select,
  vaadin-text-area,
  vaadin-text-field,
  vaadin-time-picker
)[theme~='outline'][focus-ring][invalid]::part(input-field) {
    box-shadow: 0 0 0 2px var(--lumo-error-color-50pct), inset 0 0 0 var(--vaadin-input-field-border-width, 0) var(--vaadin-input-field-border-color);
}

/* Theme: inset label */

:is(
  vaadin-combo-box,
  vaadin-date-picker,
  vaadin-date-time-picker,
  vaadin-email-field,
  vaadin-integer-field,
  vaadin-multi-select-combo-box,
  vaadin-number-field,
  vaadin-password-field,
  vaadin-select,
  vaadin-text-area,
  vaadin-text-field,
  vaadin-time-picker
)[theme~='inset-label'] {
    --lumo-text-field-size: var(--lumo-size-xl);
    position: relative;
}

:host([theme~='inset-label']) [class$='container'] {
    position: relative;
}

:is(
  vaadin-combo-box,
  vaadin-date-picker,
  vaadin-date-time-picker,
  vaadin-email-field,
  vaadin-integer-field,
  vaadin-multi-select-combo-box,
  vaadin-number-field,
  vaadin-password-field,
  vaadin-select,
  vaadin-text-area,
  vaadin-text-field,
  vaadin-time-picker
)[theme~='inset-label']::part(label) {
    display: flex;
    font-size: var(--lumo-font-size-m);
    margin: 0;
    padding-block: 0;
    pointer-events: none;
    position: absolute;
    top: calc(var(--lumo-space-xs) + (var(--lumo-text-field-size) - var(--lumo-font-size-m)) / 2);
    transition: color 0.2s, font-size 0.1s, top 0.1s;
    z-index: 1;
}

:is(
  vaadin-combo-box,
  vaadin-date-picker,
  vaadin-date-time-picker,
  vaadin-email-field,
  vaadin-integer-field,
  vaadin-multi-select-combo-box,
  vaadin-number-field,
  vaadin-password-field,
  vaadin-select,
  vaadin-text-area,
  vaadin-text-field,
  vaadin-time-picker
)[theme~='inset-label']::part(label)::before {
    content: "";
    font-size: var(--lumo-font-size-m);
    padding-left: calc((0.375em + var(--lumo-border-radius-m) / 4 - 1px + 0.25em));
}

:is(
  vaadin-combo-box,
  vaadin-date-picker,
  vaadin-date-time-picker,
  vaadin-email-field,
  vaadin-integer-field,
  vaadin-multi-select-combo-box,
  vaadin-number-field,
  vaadin-password-field,
  vaadin-select,
  vaadin-text-area,
  vaadin-text-field,
  vaadin-time-picker
)[theme~='inset-label'][has-label] {
    padding: var(--lumo-space-xs) 0;
}

:is(
  vaadin-combo-box,
  vaadin-date-picker,
  vaadin-date-time-picker,
  vaadin-email-field,
  vaadin-integer-field,
  vaadin-multi-select-combo-box,
  vaadin-number-field,
  vaadin-password-field,
  vaadin-select,
  vaadin-text-area,
  vaadin-text-field,
  vaadin-time-picker
)[theme~='inset-label'][has-label]::before {
    margin-top: 0;
}

:is(
  vaadin-combo-box,
  vaadin-date-picker,
  vaadin-date-time-picker,
  vaadin-email-field,
  vaadin-integer-field,
  vaadin-multi-select-combo-box,
  vaadin-number-field,
  vaadin-password-field,
  vaadin-select,
  vaadin-text-area,
  vaadin-text-field,
  vaadin-time-picker
)[theme~='inset-label'][focused]::part(label) {
    font-size: var(--lumo-font-size-xs);
    top: calc(var(--lumo-space-s) + var(--lumo-space-xs));
}

:is(
  vaadin-combo-box,
  vaadin-date-picker,
  vaadin-date-time-picker,
  vaadin-email-field,
  vaadin-integer-field,
  vaadin-multi-select-combo-box,
  vaadin-number-field,
  vaadin-password-field,
  vaadin-select,
  vaadin-text-area,
  vaadin-text-field,
  vaadin-time-picker
)[theme~='inset-label'][has-value]::part(label) {
    font-size: var(--lumo-font-size-xs);
    top: calc(var(--lumo-space-s) + var(--lumo-space-xs));
}

:is(
  vaadin-combo-box,
  vaadin-date-picker,
  vaadin-date-time-picker,
  vaadin-email-field,
  vaadin-integer-field,
  vaadin-multi-select-combo-box,
  vaadin-number-field,
  vaadin-password-field,
  vaadin-select,
  vaadin-text-area,
  vaadin-text-field,
  vaadin-time-picker
)[theme~='inset-label'][has-label] input {
    box-sizing: border-box;
    padding-top: var(--lumo-space-m);
}

/* Theme: transparent */

:is(
  vaadin-combo-box,
  vaadin-date-picker,
  vaadin-date-time-picker,
  vaadin-email-field,
  vaadin-integer-field,
  vaadin-multi-select-combo-box,
  vaadin-number-field,
  vaadin-password-field,
  vaadin-select,
  vaadin-text-area,
  vaadin-text-field,
  vaadin-time-picker
)[theme~='transparent'] {
    --vaadin-input-field-background: transparent;
}
