:host {
    position: relative;
}

/* Theme: outline */

:host([theme~='outline']) {
    --vaadin-input-field-border-color: var(--lumo-utility-border-color, var(--lumo-contrast-50pct));
    --vaadin-input-field-border-width: 1px;
}

:host([theme~="outline"][disabled]) {
    --vaadin-input-field-border-color: var(--lumo-contrast-10pct);
}

:host([theme~="outline"][invalid]) {
    --vaadin-input-field-border-color: var(--lumo-error-color-50pct);
}

:host([theme~="outline"][readonly]) {
    --vaadin-input-field-border-color: transparent;
    --vaadin-input-field-border-width: 0;
}

:host([theme~='outline'][focus-ring]) {
    --vaadin-input-field-border-color: var(--lumo-primary-color);
}

:host([theme~='outline'][focus-ring]) [part='input-field'] {
    box-shadow: 0 0 0 2px var(--lumo-primary-color-50pct), inset 0 0 0 var(--vaadin-input-field-border-width, 0) var(--vaadin-input-field-border-color);
}

:host([theme~='outline'][invalid][focus-ring]) {
    --vaadin-input-field-border-color: var(--lumo-error-color);
}

:host([theme~='outline'][invalid][focus-ring]) [part='input-field'] {
    box-shadow: 0 0 0 2px var(--lumo-error-color-50pct), inset 0 0 0 var(--vaadin-input-field-border-width, 0) var(--vaadin-input-field-border-color);
}

/* Theme: inset label */

:host([theme~='inset-label']) {
    --lumo-text-field-size: var(--lumo-size-xl);
}

:host([theme~='inset-label']) [class$='container'] {
    position: relative;
}

:host([theme~='inset-label']) [part='label'] {
    display: flex;
    font-size: var(--lumo-font-size-m);
    margin-left: 0;
    padding-bottom: 0;
    pointer-events: none;
    position: absolute;
    top: calc((var(--lumo-text-field-size) - var(--lumo-font-size-m)) / 2);
    transition: color 0.2s, font-size 0.1s, top 0.1s;
    z-index: 1;
}

:host([theme~='inset-label']) [part='label']::before {
    content: "";
    font-size: var(--lumo-font-size-m);
    padding-left: calc((0.375em + var(--lumo-border-radius-m) / 4 - 1px + 0.25em));
}

:host([theme~="inset-label"][has-label]) {
    padding: var(--lumo-space-xs) 0;
}

:host([theme~="inset-label"][has-label])::before {
    margin-top: 0;
}

:host([theme~="inset-label"][focused]) [part='label'],
:host([theme~="inset-label"][has-value]) [part='label'] {
    font-size: var(--lumo-font-size-xs);
    top: var(--lumo-space-s);
}

:host([theme~="inset-label"][has-label]) ::slotted(input) {
    box-sizing: border-box;
    padding-top: var(--lumo-space-m);
}
