dl[theme~="dividers"] > *::after {
    border-bottom: 1px solid var(--lumo-contrast-10pct);
    content: "";
    inset: auto 0 0 0;
    pointer-events: none;
    position: absolute;
}

dl[theme~="stripes"] > *:nth-child(odd) {
    background-image: linear-gradient(var(--lumo-contrast-5pct), var(--lumo-contrast-5pct));
}
