ul[theme~="dividers"] > *:not(:last-of-type)::after {
    border-bottom: 1px solid var(--lumo-contrast-10pct);
    content: "";
    inset: auto 0 0 0;
    pointer-events: none;
    position: absolute;
}

li.timeline::before {
    background-color: var(--lumo-contrast-30pct);
    content: "";
    inset: 0 auto 0 calc(var(--lumo-space-m) + (var(--lumo-size-m) / 2));
    position: absolute;
    width: 1px;
}

li.timeline > * {
    z-index: 0;
}
