/* Theme: segmented */

:host([theme~="segmented"]) {
    background-color: var(--lumo-contrast-5pct);
    border-radius: var(--lumo-border-radius-m);
    box-shadow: none;
}

:host([theme~="segmented"]) [part='tabs'] {
    margin: 0;
    padding: 0.125rem;
}