@import "input-field.css";

/* Theme: dividers */

:host([theme~='vertical'][theme~="dividers"]) ::slotted(vaadin-radio-button:not(:last-child)::after) {
    border-bottom: 1px solid var(--lumo-contrast-10pct);
    content: "";
    inset: auto 0 0 0;
    pointer-events: none;
    position: absolute;
}

/* Theme: border & toggle */

:host([theme~="border"])::before,
:host([theme~="toggle"])::before {
    height: var(--lumo-size-m);
}

:host([theme~="border"]) [part='group-field'],
:host([theme~="toggle"]) [part='group-field'] {
    flex-wrap: nowrap;
}

:host([theme~='border']:not([theme~='gap'])) [part='group-field'] ::slotted(*:first-of-type),
:host([theme~='toggle']:not([theme~='gap'])) [part='group-field'] ::slotted(*:first-of-type) {
    border-radius: var(--lumo-border-radius-m) 0 0 var(--lumo-border-radius-m);
}

:host([theme~='border']:not([theme~='gap'])) [part='group-field'] ::slotted(*:last-of-type),
:host([theme~='toggle']:not([theme~='gap'])) [part='group-field'] ::slotted(*:last-of-type) {
    border-radius: 0 var(--lumo-border-radius-m) var(--lumo-border-radius-m) 0;
}

:host([theme~='border']:not([theme~='gap'])) [part='group-field'] ::slotted(*:not(:first-of-type)),
:host([theme~='toggle']:not([theme~='gap'])) [part='group-field'] ::slotted(*:not(:first-of-type)) {
    margin: 0 0 0 -1px;
}

:host([theme~='border'][theme~='vertical']:not([theme~='gap'])) [part='group-field'] ::slotted(*:first-of-type),
:host([theme~='toggle'][theme~='vertical']:not([theme~='gap'])) [part='group-field'] ::slotted(*:first-of-type) {
    border-radius: var(--lumo-border-radius-m) var(--lumo-border-radius-m) 0 0;
}

:host([theme~='border'][theme~='vertical']:not([theme~='gap'])) [part='group-field'] ::slotted(*:last-of-type),
:host([theme~='toggle'][theme~='vertical']:not([theme~='gap'])) [part='group-field'] ::slotted(*:last-of-type) {
    border-radius: 0 0 var(--lumo-border-radius-m) var(--lumo-border-radius-m);
}

:host([theme~='border'][theme~='vertical']:not([theme~='gap'])) [part='group-field'] ::slotted(*:not(:first-of-type)),
:host([theme~='toggle'][theme~='vertical']:not([theme~='gap'])) [part='group-field'] ::slotted(*:not(:first-of-type)) {
    margin: -1px 0 0 0;
}

/* Theme: equal width */

:host([theme~='equal-width']) [part='group-field'] {
    display: flex;
}

:host([theme~='equal-width']) [part='group-field'] ::slotted(*) {
    flex: 1;
}

/* Theme: gap */

:host([theme~='gap']) [part='group-field'] {
    display: flex;
    gap: var(--lumo-space-s);
}

:host([theme~='gap']:not([theme~="vertical"])) [part='group-field'] {
    flex-direction: column;
}

:host([theme~='gap']) [part='group-field'] ::slotted(*) {
    border-radius: var(--lumo-border-radius-m);
}

@media (min-width: 640px) {
    :host([theme~='gap']:not([theme~="vertical"])) [part='group-field'] {
        flex-direction: row;
    }
}

/* Theme: small */

:host([theme~="small"])::before {
    height: var(--lumo-size-s);
}

/* Theme: segmented */

:host([theme~="segmented"]) .vaadin-group-field-container {
    max-width: 100%;
    width: auto;
}

:host([theme~="segmented"]) [part='group-field'] {
    background-color: var(--lumo-contrast-5pct);
    border-radius: var(--lumo-border-radius-m);
    box-sizing: border-box;
    height: var(--lumo-size-m);
    padding: 0.125rem;
}
