/* Theme: rail */

:host([theme~="rail"]) {
    --vaadin-side-nav-width: calc(var(--lumo-icon-size-m) + (var(--lumo-space-s) * 2));

    --vaadin-side-nav-content-padding: 0;

    --vaadin-side-nav-toggle-display: none;

    --vaadin-side-nav-child-indent: 0px;
    --vaadin-side-nav-child-background-color: var(--lumo-base-color);
    --vaadin-side-nav-child-border-radius: var(--lumo-border-radius-m);
    --vaadin-side-nav-child-box-shadow: var(--lumo-box-shadow-xs);
    --vaadin-side-nav-child-margin: calc((var(--vaadin-side-nav-width) + var(--lumo-space-xs)) / -1) 0 0 var(--vaadin-side-nav-width);
    --vaadin-side-nav-child-min-width: auto;
    --vaadin-side-nav-child-padding: var(--lumo-space-xs) 0;
    --vaadin-side-nav-child-position: absolute;
    --vaadin-side-nav-child-z-index: 1;

    width: var(--vaadin-side-nav-width);
}

/* Theme: top */

:host([theme~="top"]) {
    --vaadin-side-nav-child-indent: 0px;
    --vaadin-side-nav-child-background-color: var(--lumo-base-color);
    --vaadin-side-nav-child-border-radius: var(--lumo-border-radius-m);
    --vaadin-side-nav-child-box-shadow: var(--lumo-box-shadow-xs);
    --vaadin-side-nav-child-min-width: -webkit-fill-available;
    --vaadin-side-nav-child-padding: var(--lumo-space-xs) 0;
    --vaadin-side-nav-child-position: absolute;
    --vaadin-side-nav-child-z-index: 1;
}

:host([theme~="top"]) [part="children"] {
    display: flex;
}

:host([theme~="top"]) ::slotted(vaadin-side-nav-item) {
    position: relative;
}
