/* Theme: outline */

:host([theme~="outline"]) {
    outline: 1px solid var(--lumo-utility-border-color, var(--lumo-contrast-50pct));
    outline-offset: -1px;
}

:host([theme~='outline'][focus-ring]) {
    outline: 1px solid var(--lumo-primary-color);
}

:host([theme~='outline'][theme~='error'][focus-ring]) {
    outline: 1px solid var(--lumo-error-color);
    box-shadow: 0 0 0 2px var(--lumo-error-color-50pct), inset 0 0 0 1px var(--lumo-error-color);
}

:host([theme~='outline'][theme~='success'][focus-ring]) {
    outline: 1px solid var(--lumo-success-color);
    box-shadow: 0 0 0 2px var(--lumo-success-color-50pct), inset 0 0 0 1px var(--lumo-success-color);
}
