:host {
    position: relative;
}

:host([focus-ring]),
:host([checked]) {
    z-index: 1;
}

/* Theme: dividers */

:host([theme~="dividers"]:not(:last-of-type))::after {
    border-bottom: 1px solid var(--lumo-contrast-10pct);
    content: "";
    inset: auto 0 0 0;
    pointer-events: none;
    position: absolute;
}

/* Theme: align-right */

:host([theme~="align-right"]) .vaadin-radio-button-container {
    grid-template-columns: 1fr auto;
}

:host([theme~="align-right"]) [part='radio'],
:host([theme~="align-right"]) ::slotted(input) {
    grid-column: 2;
}

:host([theme~="align-right"][has-label]) ::slotted(label) {
    padding-inline-start: 0;
}

/* Theme: border */

:host([theme~="border"]) {
    background-color: var(--lumo-base-color);
    outline: 1px solid var(--lumo-contrast-50pct);
    outline-offset: -1px;
}

:host([theme~="border"]) [part='radio'] {
    margin-inline-start: var(--lumo-space-s);
}

:host([theme~="border"][has-label]) ::slotted(label) {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    min-height: var(--lumo-size-m);
}

:host([theme~="border"][checked]) {
    background-color: var(--lumo-primary-color-10pct);
    outline-color: var(--lumo-primary-color);
}

/* Theme: toggle */

:host([theme~="toggle"]) {
    background-color: var(--lumo-base-color);
    min-height: var(--lumo-size-m);
    outline: 1px solid var(--lumo-contrast-50pct);
    outline-offset: -1px;
}

:host([theme~="toggle"]) .vaadin-radio-button-container {
    min-height: 100%;
}

:host([theme~="toggle"]) [part='radio'] {
    display: none;
}

:host([theme~="toggle"][has-label]) ::slotted(label) {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    min-height: 100%;
    padding-inline-start: var(--lumo-space-s);
}

:host([theme~="toggle"]:not([checked]):not([disabled]):hover) {
    background-image: linear-gradient(var(--lumo-contrast-5pct), var(--lumo-contrast-5pct));
}

:host([theme~="toggle"][checked]) {
    background-color: var(--lumo-primary-color-10pct);
    color: var(--lumo-primary-color);
    outline: 2px solid var(--lumo-primary-color);
    outline-offset: -2px;
}

:host([theme~="toggle"][focus-ring]) {
    box-shadow: inset 0 0 0 var(--vaadin-focus-ring-width, 2px) var(--vaadin-focus-ring-color, var(--lumo-primary-color-50pct))
}

:host([theme~="toggle"][checked][focus-ring]) {
    box-shadow: 0 0 0 1px var(--lumo-base-color), 0 0 0 3px var(--lumo-primary-color-50pct);
}

/* Theme: toggle & tertiary */

:host([theme~="toggle"][theme~="tertiary"][checked]) {
    background-color: var(--lumo-base-color);
}

/* Theme: toggle & primary */

:host([theme~="toggle"][theme~="primary"][checked]) {
    background-color: var(--lumo-primary-color);
    color: var(--lumo-primary-contrast-color);
}

/* Theme: small */

:host([theme~="small"]) {
    font-size: var(--lumo-font-size-s);
}

:host([theme~="small"][has-label]) ::slotted(label) {
    min-height: var(--lumo-size-s);
}

/* Theme: segmented */

:host([theme~="segmented"]) {
    border-radius: var(--lumo-border-radius-m);
    position: relative;
}

:host([theme~="segmented"])::after {
    border-inline-end: 1px solid var(--lumo-contrast-10pct);
    content: "";
    inset: 0 0 0 auto;
    position: absolute;
}

:host([theme~="segmented"]:last-of-type)::after,
:host([theme~="segmented"][checked])::after,
:host([theme~="segmented"][focus-ring])::after {
    content: none;
}

:host([theme~="segmented"]) .vaadin-radio-button-container {
    min-height: 100%;
}

:host([theme~="segmented"]) [part='radio'] {
    display: none;
}

:host([theme~="segmented"][has-label]) ::slotted(label) {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    min-height: 100%;
    padding-inline-start: var(--lumo-space-s);
}

:host([theme~="segmented"]:not([checked]):not([disabled]):hover) {
    background-image: linear-gradient(var(--lumo-tint-5pct), var(--lumo-tint-5pct));
}

:host([theme~="segmented"][checked]) {
    background-color: var(--lumo-base-color);
    box-shadow: var(--lumo-box-shadow-xs);
}

:host([theme~="segmented"][focus-ring]) {
    box-shadow: 0 0 0 var(--vaadin-focus-ring-width, 2px) var(--vaadin-focus-ring-color, var(--lumo-primary-color-50pct));
}

:host([theme~="segmented"][checked][focus-ring]) {
    box-shadow: var(--lumo-box-shadow-xs), 0 0 0 var(--vaadin-focus-ring-width, 2px) var(--vaadin-focus-ring-color, var(--lumo-primary-color-50pct));
}