:host {
    --_input-border-width: var(--vaadin-input-field-border-width, 0);
    --_input-border-color: var(--vaadin-input-field-border-color, transparent);
    box-shadow: inset 0 0 0 var(--_input-border-width, 0) var(--_input-border-color);
}

:host([theme~="outline"]:not([disabled]):not([invalid]):not([readonly])) {
    background-color: var(--lumo-base-color);
}
