:host([has-children]) [part='content'] {
    padding-inline-end: var(--vaadin-side-nav-content-padding, var(--lumo-space-s));
}

[part="toggle-button"] {
    display: var(--vaadin-side-nav-toggle-display, block);
}

[part="children"] {
    background-color: var(--vaadin-side-nav-child-background-color, transparent);
    border-radius: var(--vaadin-side-nav-child-border-radius, 0px);
    box-shadow: var(--vaadin-side-nav-child-box-shadow, none);
    margin: var(--vaadin-side-nav-child-margin, 0);
    min-width: var(--vaadin-side-nav-child-min-width, auto);
    padding: var(--vaadin-side-nav-child-padding, 0px);
    position: var(--vaadin-side-nav-child-position, static);
    z-index: var(--vaadin-side-nav-child-z-index, auto);
}