/* Theme: segmented */

:host([theme~="segmented"]) {
    border-radius: var(--lumo-border-radius-m);
}

:host([theme~="segmented"])::before {
    content: none;
}

:host([theme~="segmented"])::after {
    border-inline-end: 1px solid var(--lumo-contrast-10pct);
    box-shadow: none;
    content: "";
    display: block;
    height: auto;
    inset: 0 0 0 auto;
    position: absolute;
    transform: none;
    transition: none;
    width: auto;
}

:host([theme~="segmented"]:last-of-type)::after,
:host([theme~="segmented"][checked])::after,
:host([theme~="segmented"][focus-ring])::after {
    content: none;
}

:host([theme~="segmented"][selected]) {
    background-color: var(--lumo-base-color);
    box-shadow: var(--lumo-box-shadow-xs);
}

:host([theme~="segmented"][focus-ring]) {
    box-shadow: 0 0 0 var(--vaadin-focus-ring-width, 2px) var(--vaadin-focus-ring-color, var(--lumo-primary-color-50pct));
    z-index: 1;
}

:host([theme~="segmented"][selected][focus-ring]) {
    box-shadow: var(--lumo-box-shadow-xs), 0 0 0 var(--vaadin-focus-ring-width, 2px) var(--vaadin-focus-ring-color, var(--lumo-primary-color-50pct));
}
