.highlights[theme~="border"] {
    background-image: linear-gradient(var(--lumo-contrast-10pct), var(--lumo-contrast-10pct));
    gap: 1px;
}

.highlights[theme~="border"] > * {
    border-radius: 0;
}
