/* Right-align */

:host([theme~="right-align"]) .vaadin-radio-button-container {
    grid-template-columns: 1fr auto;
}

:host([theme~="right-align"]) .vaadin-radio-button-wrapper {
    order: 1;
}

:host([theme~="right-align"][has-label]) ::slotted(label) {
    padding-inline-start: 0;
}

/* Border */

:host([theme*="border"]) {
    box-shadow: inset 0 0 0 1px var(--lumo-contrast-10pct);
    padding: var(--lumo-space-xs);
}

:host([theme*="border"][checked]) {
    z-index: 1;
}

:host([theme~="border"][checked]) {
    background-color: var(--lumo-primary-color-10pct);
    box-shadow: inset 0 0 0 1px var(--lumo-primary-color);
}

/* Border-only */

:host([theme~="border-only"]) [part='radio'] {
    display: none;
}

:host([theme~="border-only"][has-label]) ::slotted(label) {
    padding-inline-start: var(--lumo-space-s);
}

:host([theme~="border-only"][checked]) {
    box-shadow: inset 0 0 0 2px var(--lumo-primary-color);
}

/* Border-only & primary */

:host([theme~="border-only"][theme~="primary"][checked]) {
    background-color: var(--lumo-primary-color);
    color: var(--lumo-primary-contrast-color);
}
